<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<style>

	#writeContainer{
		border : 1px solid lightgray;
		width:1000px;
	}
	
	hr{
		border : 1px solid lightgray;
	}
	.btn-secondary{
		width:200px;
	}

</style>
</head>
<body style="background:#f8efed; margin:0;">
		
		<div th:replace="~{common/navbar :: navbar}"></div>
		
		<div class="container-lg p-4">
		
		<br><br>
			<div class="container-md m-6 p-6" id="writeContainer">
				<form action="writeBoard.bo" method="post" enctype="multipart/form-data">
					
					<div class="row m-3 mt-5 text-center"><h3>Exhibition</h3></div>
					
					<div class="row m-4 justify-content-md-center">
					  <div class="col-7">
					  	<h5>Exhibition Title</h5>
					    <p></p>
					  </div>
					  <div class="col-4">
					  	<h5>Artist</h5>
					    <p></p>
					  </div>
					</div>
					
					<div class="row m-4 justify-content-md-center">
					  	<h5>Start Date</h5>
					    <p>  ~ </p>					 								
					</div>
					
					<hr>
					
					<div class="row m-3 mt-5 text-center"><h3>Review</h3></div>
					
					<div class="row m-4 justify-content-md-center">
					  <div class="col-9">
					  	<h5>Title</h5>
					    <p></p>
					  </div>
					  <div class="col-3">
					  	<h5>Category</h5>
					    <p></p>
					  </div>
					</div>
										
					<div class="row m-4 mb-3">
						<h5>Intro</h5>
						<p></p>
					</div>
					
					<div class="row m-4 mb-5">
						<h5>Content</h5>
					  	<div class="p-5"></div>
					</div>					
					<hr>
					
					
					<div class="row m-4 mb-5" id="photoRow">
				  		<label class="form-label">
				  			Photo &nbsp;
					  		<svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
							  <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
							  <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
							</svg>&nbsp;
							<svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor" class="bi bi-dash-square" viewBox="0 0 16 16">
							  <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
							  <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8"/>
							</svg>
				  		</label>
					  	<input name="files" class="form-control" type="file">					  
					</div>
					<hr>
	
					<div class="row m-4 justify-content-md-center">
						<button type="button" id="submitButton" class="btn btn-secondary">submit</button>
					</div>
			
				</form>	
			</div>
			
		
			
			
			<br><br>					
		</div>
	<script th:inline="javascript">
	

     var today = new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate());
     $('#startDate').datepicker({
         uiLibrary: 'bootstrap4',
         iconsLibrary: 'fontawesome',
         minDate: today,
         maxDate: function () {
             return $('#endDate').val();
         }
     });
     $('#endDate').datepicker({
         uiLibrary: 'bootstrap4',
         iconsLibrary: 'fontawesome',
         minDate: function () {
             return $('#startDate').val();
         }
     });

	
	window.onload=()=>{
		document.querySelector('.bi-plus-square').addEventListener('click', ()=>{
			const photoRow = document.querySelector('#photoRow');
			const inputFile = document.createElement('input')
			inputFile.type = 'file';
			inputFile.name = 'files';
			inputFile.className = 'form-control plus';
						
			photoRow.append(inputFile);
			
		})
		
		document.querySelector('.bi-dash-square').addEventListener('click', function(){
			const last = document.querySelector('#photoRow').lastElementChild
			if(last.classList.contains('plus')){
				last.remove();
			}
			
		})
		
		document.querySelector('#submitButton').addEventListener('click', function(){
			const files = document.querySelectorAll('[name="files"]');
			const form = document.querySelector('form');
			for(const file of files){
				if(file.files.length == 0){
					file.remove();
				}
			}
			form.submit();

			
		})
		
		
		
		
		
		
		
		
		
		
	}
	
	
	
	</script>





























</body>
</html>