<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://unpkg.com/gijgo@1.9.14/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.14/css/gijgo.min.css" rel="stylesheet" type="text/css" />
<style>

	#writeContainer{
		border : 1px solid lightgray;
		width:1000px;
	}
	
	hr{
		border : 1px solid lightgray;
	}
	.btn-secondary{
		width:200px;
	}

</style>
</head>
<body style="background:#f8efed; margin:0;">
		
		<div th:replace="~{common/navbar :: navbar}"></div>
		
		<div class="container-lg p-4">
		
		<br><br>
			<div class="container-md m-6 p-6" id="writeContainer">
				<form action="writeBoard.bo" method="post" enctype="multipart/form-data">
					
					<div class="row m-3 mt-5 text-center"><h3>Exhibition</h3></div>
					
					<div class="row m-4 justify-content-md-center">
					  <div class="col-7">
					  	<label for="showTitle" class="form-label">Exhibition Title</label>
					    <input type="text" name="showTitle" class="form-control" placeholder="exhibition title" id="showTitle">
					  </div>
					  <div class="col-4">
					  	<label for="artist" class="form-label">Artist</label>
					    <input type="text" name="artist" class="form-control" placeholder="artist" id="artist">
					  </div>
					</div>
					
					<div class="row m-4 justify-content-md-center">
						<div class="col-5 mb-3">
					  	<label for="startDate" class="form-label">Start Date</label>
					    <input id="startDate" name="startDate">
					  </div>
					  <div class="col-1 mt-4 text-center">
						<h4> ~ </h4>
					  </div>
					  <div class="col-5 mb-3">
					  	<label for="endDate" class="form-label">End Date</label>
					    <input id="endDate" name="endDate">
					  </div>										
					</div>
					
					<hr>
					
					<div class="row m-3 mt-5 text-center"><h3>Review</h3></div>
					
					<div class="row m-4 justify-content-md-center">
					  <div class="col-9">
					  	<label for="title" class="form-label">Title</label>
					    <input type="text" name="title" class="form-control" placeholder="title" id="title">
					  </div>
					  <div class="col-3">
					  	<label for="category" class="form-label">Category</label>
					    <select id="category" name="category"  class="form-select">
					      <option selected>회화</option>
					      <option>조각/설치</option>
					    </select>
					  </div>
					</div>
										
					<div class="row m-4 mb-3">
					  <label for="intro" class="form-label">Intro</label>
					  <input type="text" name="intro" class="form-control" id="intro" placeholder="intro">
					</div>
					
					<div class="row m-4 mb-5">
					  <label for="content" class="form-label">Content</label>
					  <textarea name="content" class="form-control" id="content" rows="20"></textarea>
					</div>					
					<hr>
					
					<div class="row m-4 mb-5">
					  <label class="form-label">Thumbnail</label>
					  <input name="sfile" class="form-control" type="file" id="formFileS">
					</div>
					<hr>
					
					<div class="row m-4 mb-5" id="photoRow">
				  		<label class="form-label">
				  			Photo &nbsp;
					  		<svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
							  <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
							  <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
							</svg>&nbsp;
							<svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor" class="bi bi-dash-square" viewBox="0 0 16 16">
							  <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
							  <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8"/>
							</svg>
				  		</label>
					  	<input name="files" class="form-control" type="file">					  
					</div>
					<hr>
	
					<div class="row m-4 justify-content-md-center">
						<button type="button" id="submitButton" class="btn btn-secondary">submit</button>
					</div>
			
				</form>	
			</div>
			
		
			
			
			<br><br>					
		</div>
	<script th:inline="javascript">
	

     var today = new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate());
     $('#startDate').datepicker({
         uiLibrary: 'bootstrap4',
         iconsLibrary: 'fontawesome',
         minDate: today,
         maxDate: function () {
             return $('#endDate').val();
         }
     });
     $('#endDate').datepicker({
         uiLibrary: 'bootstrap4',
         iconsLibrary: 'fontawesome',
         minDate: function () {
             return $('#startDate').val();
         }
     });

	
	window.onload=()=>{
		document.querySelector('.bi-plus-square').addEventListener('click', ()=>{
			const photoRow = document.querySelector('#photoRow');
			const inputFile = document.createElement('input')
			inputFile.type = 'file';
			inputFile.name = 'files';
			inputFile.className = 'form-control plus';
						
			photoRow.append(inputFile);
			
		})
		
		document.querySelector('.bi-dash-square').addEventListener('click', function(){
			const last = document.querySelector('#photoRow').lastElementChild
			if(last.classList.contains('plus')){
				last.remove();
			}
			
		})
		
		document.querySelector('#submitButton').addEventListener('click', function(){
			const files = document.querySelectorAll('[name="files"]');
			const form = document.querySelector('form');
			for(const file of files){
				if(file.files.length == 0){
					file.remove();
				}
			}
			form.submit();

			
		})
		
		
		
		
		
		
		
		
		
		
	}
	
	
	
	</script>





























</body>
</html>